div {
    width: 100%;
    height: 94vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    justify-items: center;
    background-image: url("https://lh3.googleusercontent.com/colcnw86jNmB_ii-uJ_7GRz3v7T-QzUJ_1LygcoP33kILsyadL1PU1VHHr76MrVDyC6fWIG_bPoGEIiGoo8qCK2qQ_ybHqJuarUE4wfW692jKPQ2C_soa4H-UK44LmJB-FTuL9o36z9bjW41VJ3g61PlLwtS1IVDq3Wxn0oNpJyl-ZzpMk13g09DEKwQhuotwcrzU0SHLAcikD6070meSvN2d7MeZtX4FUblUUIDSboaNgWKWjJ-gZpy6avyLbmgNo3-O0wHAYKDive7jFAY9k1kF9Qfyd3vCUC-wOJ7JcSI2esrJgfvGwWkedm_4Nrqv3p2UzuHJOaiZgk9xnXHkyVafJezJCLNBzBUZfDEiIAALzVFyI8YSQgW0DXHKFei8PETq_iLAz_9puxc--SMRchGy7KX267Ar-2oDd0jp8stbKirvOKy2LrIwJF5YGIm0oCsZsbyXz7GDBYE-CNBcT8DbJ4rnx3sigh7JsNJGj8d1M1f8nxxOIv6FwpBjpa3FxPteoginwm7672UZfilSLdSJlTNkI6OOnR9x2yHu_wNsqmQN6N2qc1Tk514LmEpuL578xiP3mSp9IU4Cx6xEOtRND8TmY8WqQ02MKMjgPQDVI1XHxUTHm4VNSH_o2guQ4dfgFpj6Tmvv20UcRfvfoDRc--rc0UoVlRKAzTTwxX5zop0y15wZclBC3xOV_P5Bw-nVMQ6k4V8fRQNjITLcl0bbjekVmN8PtFeMVxgS6XKi0ONZLSsDi0eLsjpwMS4NlMkHjyk1E_gbOZ5xfMkNIYVhn_svC1S_NzWBkFqmqMiN8MjM2i5yp1Hf-adrcq11ZXsPGfvmwUGT3LEj8HFX7C6QhhBVGfAx0hK2X0lLRw6Tk7k4ByE920f4Eu_0cDFLy4YHD2IjkGcP1fjlhaYU3EUXbhKQMYUV89GCguz3OgN=w1226-h919-no?authuser=0");
    background-position: center;
    background-size: cover;
}

p {
    color: #eee;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 1.75rem;
    width: 60vw;
}

.first{
    margin-left: 4rem;
}

.second{
    margin-left: 6rem;
}

.third{
    margin-left: 8rem;
}
.fourth{
    margin-left: 10rem;
}
.fifth{
    margin-left: 12rem;
}