div {
    width: 100%;
    height: 93.2vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    justify-items: center;
    background-image: url("https://lh3.googleusercontent.com/pw/AL9nZEU8NxQG48RaMxjPXIufnLV8t8W2B6n8VPS1SmV-S_f07of8DelrSEWb0_5ltlL9wocqaVijr0ZkJyKGGuadFlN89oi0UqvUoTK4qWfp6K_Lxg8_34yHm0oZ_SDtuOA4u2EbYRq7yTddsmJf3BLAodR5=w1242-h931-no?authuser=0");
    background-position: center;
    background-size: cover;
}

p {
    color: #eee;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 1.75rem;
    margin-left: 6rem;
    width: 60vw;
}

// .first{
//     margin-left: 4rem;
// }

// .second{
//     margin-left: 6rem;
// }

// .third{
//     margin-left: 8rem;
// }
// .fourth{
//     margin-left: 10rem;
// }
// .fifth{
//     margin-left: 12rem;
// }