<div>
    <p class="first">Богът Ковач, Синът на слънцето.</p>
    <p class="second">Върховният алп-див. Хурса е почитан и като Железния баща.</p>
    <p class="third">Железният баща е Великан на Великаните и заповедник на водата и огъня.</p>    
    <p class="fourth">Представян е като конник-юнак, въоръжен със сабя, но също така е обут в железни обуща и носи желязна брадва.</p>
    <p class="fifth">Бог Хурса е изковал оръжието на средните алпи, той е научил хората да добиват и обработват желязо и е създател на първите хора.</p>
</div>