.container {
  display: flex;
  width: 90vw;
  height: 90 vh;
  align-items: center;
  justify-content: space-evenly;
  justify-items: center;
  margin: auto;
  margin-top: 3.5rem;
}

.text-container {
  width: 45vw;
  height: fit-content;
  border: 2px solid darkgray;
  padding: 3rem 2rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 1rem 0.5rem rgba(0,0,0,0.3);
  font-size: 1.5rem;
}

img {
  width: 32vw;
  border-radius: 1rem;
  box-shadow: 0px 0px 1rem 1rem rgba(0,0,0,0.3);
}
