<div class="container">
    <img src="https://lh3.googleusercontent.com/pw/AL9nZEUnIxZxKJyEUKGBDU1vzZcQBAFprHSrG0io94hCtRcd8cVNG0k5hjkylNg6gsqntBbwpYmeArulUM9HCmKPVkupweELz35Gqnk_Q7Txs1MJOiEBcbqphrz4qWoOlS17mUuc6ytvcrEDAWuHSQReJgqp=w745-h931-no?authuser=0" alt="custom-made-knife-img">
    <div class="text-container">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo excepturi obcaecati, dolorum iste deleniti accusamus non. Alias, sequi non. Quos perferendis accusantium odio atque velit hic inventore accusamus corrupti ducimus non, consequuntur, aut reiciendis quas sit quo tempora esse minus!</p>
    </div>
</div>