<div class="container">
  <img
    src="https://lh3.googleusercontent.com/pw/AL9nZEV_-6XsoBImeiPQ4JK6wDMJfoz3VKZ5YIiXcbc7II4B1IHzMiO0tTuYTr-sKcGt6Eg902bgWD31YKSqtn_KnMARmQy5mbbJe_vmlph1sH_IuH3PbnWNEI4MrG5sBLwtd4gOrkE0QT-epUYJT-UZ-8mN=w689-h886-no?authuser=0"
    alt="Creator Portrait"
  />
  <div class="text-container">
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo excepturi
      obcaecati, dolorum iste deleniti accusamus non. Alias, sequi non. Quos
      perferendis accusantium odio atque velit hic inventore accusamus corrupti
      ducimus non, consequuntur, aut reiciendis quas sit quo tempora esse minus!
    </p>
  </div>
</div>
