<header>
    <div class="mini-navbar-wrap">
        <div class="container">
        <div class="logo-wrap">
            <p class="logo"><span class="logo" routerLink="/">Hursa Knives</span></p>
        </div>
        <nav>
            <ul>
                <li>
                    <a routerLink="/">Начало</a>
                </li>
                <li>
                    <a routerLink="/products/products-list">Продукти</a>
                </li>
                <li>
                    <a  routerLink="/about-us">За нас</a>
                </li>
                <li>
                    <a  routerLink="/contacts">Контакти</a>
                </li>
            </ul>
        </nav>
    </div>
        <div class="mini-navbar">
            <ul *ngIf="!isLoggedIn" >
                <li>
                    <a routerLink="/auth/login">Вход</a>
                </li>
                <li>
                    <a routerLink="/auth/register">Регистрация</a>
                </li>
            </ul>
            <ul *ngIf="isLoggedIn" >
                <li>
                    <a routerLink="/auth/profile">Профил</a>
                </li>
                <li>
                    <a routerLink="/auth/logout">Изход</a>
                </li>
            </ul>
        </div>
    </div>


</header>